.ngx-container{
    margin-left: 5%;
    margin-top: 1%;
    width: 90%;
    height: 90%;
}

  
body {
  padding-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

  .mdl-card,
  .mdl-card__supporting-text {
        overflow-x: auto;
  }

  table {
    width: 100%;

    
  }
  td {
    font-size: 14px;
  }
  .no-padding {
    padding: 0;
    width: 100%;
  }

  .label__availability {
    margin-right: 2px;
  }


.mdl-button {
text-transform: initial;
margin-right: 10px;
}

i.commande-complete.material-icons {
background: #f44336;
border-radius: 24px;
font-size: 16px;
padding: 2px;
margin-right: 4px;
}

td.mdl-data-table__cell--non-numeric.task-done {
color: #fff;
cursor: pointer;
}

span.mat-button-wrapper {
color: #f44336;
}
.dialog {
background: #444;
border: none;
box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
width: 280px; }
.mdl-dialog__title {

  padding: 24px 24px 0;
  margin: 0;
  color: #00bcd4;
  font-size: 2.5rem; }
.mdl-dialog__actions {
  padding: 8px 8px 8px 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .mdl-dialog__actions > * {
    margin-right: 8px;

    height: 36px; }
    .mdl-dialog__actions > *:first-child {

      margin-right: 0; }
  .mdl-dialog__actions--full-width {
    padding: 0 0 8px 0; }
    .mdl-dialog__actions--full-width > * {
      height: 48px;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      padding-right: 16px;
      margin-right: 0;
      text-align: right; }
.mdl-dialog__content {
  padding: 20px 24px 24px 24px;
  white-space: initial;
  color: rgba(0,0,0, 0.54); }
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 16px;
  color: white;
}
.mat-dialog-container {
  background: #444 !important;
  overflow: hidden !important;
}

.mat-dialog-title {
margin: 0 0 20px;
display: block;
color: #f44336 !important;
}

.mat-dialog-actions {
padding: 8px 32px;
}

.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.search-table.is-upgraded{
position: relative;
font-size: 16px;
display: inline-block;
box-sizing: border-box;
width: 150px;
max-width: 100%;
margin: -2px;

}

.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.search-table.is-upgraded.is-focused input#search2 {
border-block-end-color: #00bcd4;
}

.mdl-textfield.label-search {
position: relative;
font-size: 16px;
display: inline-block;
box-sizing: border-box;
width: 300px;
max-width: 100%;
margin: -2px;
padding: 0;
}

.mdl-textfield-search{
padding: 0;
}

.mdl-textfield-search.mdl-js-textfield.mdl-textfield--expandable.search-table.is-upgraded {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
  max-width: 100%;
  margin: -2px;
}

.mdl-textfield__input{
padding: 6px 0;
font-size: 15px;
}

.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
padding-right: 6px;
}

base-card.bloc-type-cmd.mdl-card.mdl-shadow--2dp {
height: auto;
}
base-card-body.mdl-card__supporting-text {
padding: 0px 16px;
}
.mat-form-field {
font-size: 15px;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
background-color:transparent;
}
.mat-select-arrow {
color: #666 !important;
}
.mat-select-value {
color: #00bcd4;
}
.mdl-card__title-text {
align-self: center;
}
.mat-form-field-flex {
border-radius: 3px 3px 0 0;
padding: .3em 0.2em 0 .5em;
}

.mat-form-field {
  width: 150px;
  margin-right: 0.4em !important;
  margin-top: -1.1em;

}
mat-form-field.mat-form-field.ng-tns-c6-0.mat-primary.mat-form-field-type-mat-select.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder._mat-animation-noopable.ng-star-inserted{
max-height: -webkit-fill-available !important;
}
.mdl-card__title {
align-items: top !important;
}
base-card-title.mdl-card__title {
align-items: initial;
}
.mat-form-field-wrapper {
padding-bottom: 0.58em;
}
.mat-form-field-label {
color: #666 !important;
}
.mat-form-field-ripple {
background-color: #00bcd4;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
background-color: #00bcd4;
}
.mat-form-field.mat-focused .mat-form-field-label {
color: #00bcd4;
}
.ng-trigger-transformPanel.mat-select-panel.mat-primary {
background-color: #666 ;
}
span.mat-option-text {
color: white;
}
base-card.card-oder-by-date.mdl-card.mdl-shadow--2dp{
margin-top: 1em;
height: auto;
}

/* .ui-form-components {
form {
  .mdl-cell {
    margin-left: 16px;
  }
}

.mdl-card__supporting-text {
  padding-bottom: 70px;
}
} */
.mat-form-field-appearance-fill .mat-form-field-underline::before {
background-color:rgba(255, 255, 255, 0.2)
}
.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
text-align: center;
/* max-width: 150px; */
max-width: max-content ;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
a{
font-size: 14px;
}
.tooltip-custom {
background: #00bcd4;;

}
.download{
padding-left: inherit;
vertical-align: middle;
cursor: pointer;
}
.mat-simple-snackbar span {
color: #FFFFFF ;
}
.mat-simple-snackbar-action button span {
color: #FF0000 ;
}

td.column-actions.mdl-data-table__cell--non-numeric{
text-overflow: inherit;
overflow: inherit;
}

.snack-exp{
  overflow-y: scroll;
  min-width: 355px;
}
.filter-column{
  width: 20px;
  background-color: transparent;
  border: none;
  color: white
}
option {
  color: black;
}
.label-wrong{
font-weight: 400;
color: #f44336;
}
.label-correct{
color: #00d45a;
font-weight: 400;
}

span.border{
border-radius: 10px 10px 10px 10px;
}

app-loader.loader{
  z-index: 99999;
  left: 50%;
  position: absolute;
}


app-loader.loader div div.child{
top:30%;
}
app-loader.row-loader div div.child img{
width: 30px;
height: 30px;
}
app-loader.row-loader{
  left: 20%!important;
}
app-loader.row-loader div div.child{
  top:15%;
  }
  
.mat-tooltip  {
  white-space: pre-line;
}
