<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
  <app-loader [width]="'100%'" [position]="'sticky'" [height]="'450px'" [bg]="'transparant'" [show]="show"></app-loader>
  <base-card>
    <base-card-title>
      <h1 class="mdl-card__title-text">Liste des factures préparation</h1>
      <div class="mdl-layout-spacer"></div>
      <base-pagination *ngIf="advancedTable.length > 0" [numPage]="numPage" [currentPage]="currentPage" (changePage)="changePage($event)">
      </base-pagination>
      <button style="margin-left: 3px;" (click)="openAddClientDialog()"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Ajouter Client
      </button>
      <button style="margin-left: 3px;" (click)="gotoConfigurationHolidays()"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Config. Jour Férié
      </button>
      <!-- <button style="margin-left: 3px;" (click)="gotoConfigurationWeekends()"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Config. Week-end
      </button> -->
    </base-card-title>


    <base-card-body class="no-padding">
      <table *ngIf="advancedTable.length > 0" aria-describedby="clients-table"
        class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone mdl-data-table mdl-js-data-table   sorting-table">
        <thead>
          <tr>
            <th *ngFor="let header of advancedHeaders ; let i = index" class="mdl-data-table__cell--non-numeric">

              <span>{{ header.name }}</span>
            </th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let row of advancedTable  | slice:0:limit; let i = index;">


            <td class="mdl-data-table__cell--non-numeric">{{ row.nom_client }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ row.code_client}}</td>

            <td class="column-actions mdl-data-table__cell--non-numeric">
              <button style="margin-left: 3px;" (click)="gotoConfiguration(row.code_client)"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Configuration
              </button>
              <!-- <button style="margin-left: 3px;"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Saisie
              du mois
            </button> -->
              <button style="margin-left: 3px;" (click)="gotoFacturation(row.code_client)"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Liste
                des factures
              </button>

            </td>

          </tr>
        </tbody>
      </table>
    </base-card-body>
  </base-card>
</div>