<!-- <div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content"> -->
        <div class="mdl-card mdl-card__blank-layout-card mdl-shadow--2dp" *ngIf="tokenStatus == 'valide'">
            <div class="mdl-card__supporting-text color--dark-gray">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <img class="logo-card" src="assets/images/Ecolotrans.png">
                        <!-- <span class="mdl-card__title-text text-color--smooth-gray">onDemand</span> -->
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <span class="blank-layout-card-name text-color--white">Réinitialiser votre mot de passe</span>
                        <span class="blank-layout-card-secondary-text text-color--smoke">Entrez les champs pour réinitialiser votre mot de passe</span>
                    </div>
                    <form class="login-form" [formGroup]="loginForm" (submit)="login()" autocomplete="off" novalidate>
                        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
<!--                                <input formControlName="password1" (change)="onInputChange($event)"-->
<!--                                    class="mdl-textfield__input" type="password" id="password1">-->
<!--                                <label class="mdl-textfield__label" for="password1">Entrez votre mot de passe</label>-->
                              <label  for="password1" style="color:gray; font: 13px Arial, sans-serif;"  >Entrez votre mot de passe</label>
                              <br>
                              <input  formControlName="password1"  (change)="onInputChange($event)"
                                  class="mdl-textfield__input" type="password" id="password1">
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
<!--                                <input formControlName="password2" (change)="onInputChange($event)"-->
<!--                                    class="mdl-textfield__input" type="password" id="password2">-->
<!--                                <label class="mdl-textfield__label" for="password2">confirmez votre mot de passe</label>-->
                              <label  for="password2" style="color:gray; font: 13px Arial, sans-serif;" >Confirmez votre mot de passe</label>
                              <br>
                              <input  formControlName="password2"  (change)="onInputChange($event)"
                                  class="mdl-textfield__input" type="password" id="password2">
                            </div>

                            <div class="full-size color-text--red" *ngIf="error"> {{ error }}</div>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell">
                            <!-- <a routerLink="/sign-up" class="blank-layout-card-link">Vous n'avez pas de compte?</a> -->
                            <div class="mdl-layout-spacer"></div>
                            <button class="mdl-button mdl-js-button mdl-button--raised color--light-blue" type="submit"
                                [disabled]="loginForm.invalid">
                                Valider
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        <!-- </div>
    </main> -->
</div>
<!-- <div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content"> -->
        <div class="mdl-card mdl-card__blank-layout-card mdl-shadow--2dp" *ngIf="tokenStatus == 'nonvalide'">
            <div class="mdl-card__supporting-text color--dark-gray">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <span class="mdl-card__title-text text-color--smooth-gray">AVERTISSEMENT</span>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <span class="blank-layout-card-name text-color--white">Votre token est expiré</span>
                    </div>
                </div>
            </div>
        <!-- </div>
    </main> -->
</div>
