@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono);

#chart svg {
  height: 400px;
}

.nv-label text{
    font-family: Droid Sans;
}
#conteneur
{
    display: flex;
    justify-content: space-around;
}
h3
{
  margin:auto;
}
.centrage {text-align: center;}


