.details-header{
    display: flex ;
}
.details-bloc {
    display: grid;
}
.order-estimed-title{
    color: #00bcd4;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.map {
    min-height: 630px;
    position: relative;
  
    .map__window {
  
      .gm-style {
        & > div:nth-of-type(2),
        & > .gmnoprint:not(.gm-bundled-control),
        & > .gm-style-cc {
          display: none;
        }
      }
    }
  
    h5 {
      margin-top: 0;
    }
  
    div > a {
      font-size: 1rem;
    }
  
  }

  base-card.map.mdl-card.mdl-shadow--2dp {
    min-height: 255px ;
}

.details-bloc-address.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--12-col-tablet.mdl-cell--4-col-phone {
    display: flex;
}
  
.address-payment-bloc.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--12-col-tablet.mdl-cell--4-col-phone {
    display: flex;
}
.details-bloc.payement.mdl-cell.mdl-cell--6-col-desktop.mdl-cell--6-col-tablet.mdl-cell--4-col-phone {
    height: max-content;
    margin: auto;
}
span.price-label {
  color: #00bcd4;
  font-weight: bold;
}
app-details-order.mdl-grid {
  padding: 8px 20px 20px 20px;
}