<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
    <app-loader [width]="'100%'" [position]="'sticky'" [height]="'450px'" [bg]="'transparant'" [show]="showLowderListFacturationSF"></app-loader>
    <base-card>
      <base-card-title>
        <h1 class="mdl-card__title-text">Liste des factures transports (SF)</h1>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield-search mdl-js-textfield mdl-textfield--expandable search-table">
          <div class="mdl-textfield label-search">
            <input class="mdl-textfield__input" type="text" id="search2" (input)="setFilteredItems()"
              [(ngModel)]="filterValue" placeholder="Rechercher" />
            <label class="mdl-textfield__label" for="search2"></label>
          </div>
        </div>
        <base-pagination [numPage]="numPage" [currentPage]="currentPage" (changePage)="changePage($event)">
        </base-pagination>
        <div id="conteneurDesBoutonsHeaderBaseCard">
          <div class="boutonGenererTransaction">
            <button (click)='gotojobs()'
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button "
            style="margin-right: 5px;">Lancer plans
            </button>

            <button (click)='gotoBilling()'
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button "
            style="margin-right: 5px;">Voir billing.
            </button>

            <!-- <button (click)='openDialog()'
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button ">Générer une transaction
            </button> -->
          </div>
        </div>
      </base-card-title>
      <base-card-body *ngIf="advancedTable.length > 0" class="no-padding">
        <table class="table-list mdl-data-table mdl-js-data-table sorting-table">
          <thead>
            <tr>
              <th *ngFor="let header of advancedHeaders ; let i = index" class="mdl-data-table__cell--non-numeric">
                <span>{{ header.name}}</span>
                <!-- <i *ngIf="header.sort !== null " class="material-icons sorting"
                  [class.asc]="header.sort === sortOrder.asc"
                  [class.active]="header.sort === sortOrder.asc || header.sort === sortOrder.desc">sort</i> -->
              </th>
            </tr>
          </thead>
          <tbody>   
            <tr *ngFor="let row of advancedTable  | slice:0:limit; let i = index;">
              <td class="mdl-data-table__cell--non-numeric">{{ row.RL_Numero_de_facture__c }}</td>
              <td class="mdl-data-table__cell--non-numeric" style="max-width: 180px;">{{ row.RL_Account__r.Name }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ row.RL_BillingDisplayDate__c }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ row.RL_Echeance__c }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ row.RL_Prix_H_T__c }} €</td>
              <td class="mdl-data-table__cell--non-numeric">{{ row.RL_TauxTVA__c }}%</td>
              <td class="mdl-data-table__cell--non-numeric">{{ row.RL_MontantTVA__c }} €</td>
              <td class="mdl-data-table__cell--non-numeric">{{ row.RL_TotalPrice__c }} €</td>              

              <td class="column-actions mdl-data-table__cell--non-numeric">
                <button (click)="downloadFactureSF(row)"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button"
                >
                Aperçu
                </button>
              </td>
              <td class="column-actions mdl-data-table__cell--non-numeric">
                <button (click)="modifyFacture(row)"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button"
                >
                Modifier
                </button>
              </td>
              <app-loader *ngIf="row.statut== 'En attente'" class="loader" [width]="'100%'" [position]="'sticky'"
              [height]="'182px'" [bg]="'transparant'" [show]="row.statut== 'En attente'"></app-loader>
            </tr>
          </tbody>
        </table>
      </base-card-body>
    </base-card>
  </div>
