<div class="container mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
    <!-- <app-loader [width]="'100%'" [position]="'sticky'"  [height]="'450px'" [bg]="'transparant'" [show]="show"></app-loader> -->
    <div class="content-file-edi">
        <div style="text-align: left;padding-left: inherit;" 
        class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--2-col-phone">
            <label class="number-transaction ">Transaction {{transaction.transaction}}</label>
        </div>
        <div class="content-labels">

            <base-card class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--2-col-phone">
                <base-card-body class="content-card">
                    <div class="content-label">
                        <label class="details-label">Statut</label>
                        <label class="details-label">{{transaction.statut}}</label>
                    </div>
                    <div class="content-label">
                        <label class="details-label">Date Début </label>
                        <label class="details-label">{{transaction.date_debut}}</label>
                    </div>
                    <div class="content-label">
                        <label class="details-label">Date Fin</label>
                        <label class="details-label">{{transaction.date_fin}}</label>
                    </div>
                </base-card-body>
            </base-card>
        </div>

        <div class="content-labels">

            <base-card class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
            <base-card-title>
                <label>Fichier de livraison </label>
            </base-card-title>
            <base-card-body class="content-file-line">
                <mat-accordion>
                    <mat-expansion-panel hideToggle  >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Afficher Log
                            </mat-panel-title>
                            <!-- <mat-panel-description class="description">
                                <button
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Corriger
                                </button>
                            </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        </mat-expansion-panel>
                        </mat-accordion>
                        </base-card-body>
                        </base-card>
                      
    
        </div>
        <div class="content-labels">

            <base-card class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
            <base-card-title>
                <label>Fichier d'exception </label>
            </base-card-title>
            <base-card-body class="content-file-line">
                <mat-accordion>
                    <mat-expansion-panel hideToggle  >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Afficher Log
                            </mat-panel-title>
                            <mat-panel-description class="description">
                                <button
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Corriger
                                </button>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        </mat-expansion-panel>
                        </mat-accordion>
                        </base-card-body>
                        </base-card>
                      
    
        </div>
        <div class="content-labels">

            <base-card class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
            <base-card-title>
                <label>Fichier Metadata </label>
            </base-card-title>
            <base-card-body class="content-file-line">
                <mat-accordion>
                    <mat-expansion-panel hideToggle  >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Afficher Log
                            </mat-panel-title>
                            <mat-panel-description class="description">
                                <button
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Valider
                                </button>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        </mat-expansion-panel>
                        </mat-accordion>
                        </base-card-body>
                        </base-card>
                      
    
        </div>
        <div class="content-labels">

            <base-card class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
            <base-card-title>
                <label>Fichier MAD </label>
            </base-card-title>
            <base-card-body class="content-file-line">
                <mat-accordion>
                    <mat-expansion-panel hideToggle  >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Afficher Log
                            </mat-panel-title>
                            <mat-panel-description class="description">
                                <button
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Corriger
                                </button>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        </mat-expansion-panel>
                        </mat-accordion>
                        </base-card-body>
                        </base-card>
                      
    
        </div>
    </div>
</div>