<div class="container-transaction mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
  <!-- <app-loader [width]="'100%'" [position]="'sticky'"  [height]="'450px'" [bg]="'transparant'" [show]="show"></app-loader> -->
  <div class="content-file-edi">
    <!-- <div style="text-align: left;padding-left: inherit;"
      class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--2-col-phone">
      <label class="number-transaction ">Transaction {{transaction?.transaction_id}}</label>
    </div> -->
    <div class="content-labels" id="conteneur">
      <!--            <div class="element 1">-->
      <base-card class="element-1"
        class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--2-col-phone">
        <base-card-body class="content-card">
          <div class="content-label">
            <label class="details-label">Statut</label>
            <label *ngIf="transaction" class="details-label">{{transaction?.statut}}</label>
            <label *ngIf="!transaction" class="details-label">-</label>
          </div>
          <div class="content-label">
            <label  class="details-label">Date Début </label>
            <label *ngIf="transaction" class="details-label">{{transaction?.start_date | date:"yyyy-MM-dd"}}</label>
            <label *ngIf="!transaction" class="details-label">-</label>
          </div>
          <div class="content-label">
            <label class="details-label">Date Fin</label>
            <label *ngIf="transaction" class="details-label">{{transaction?.end_date | date:"yyyy-MM-dd"}}</label>
            <label *ngIf="!transaction" class="details-label">-</label>
          </div>
        </base-card-body>
      </base-card>
      <!--            </div>-->

      <div class="element-2">
        <button style="margin-right: 5px;"
          class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Intégrer
          transaction
        </button>
        <button (click)='correctionAllFile();$event.stopPropagation();'
          class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Corriger
        </button>
      </div>

    </div>

    <div class="content-labels">

      <base-card class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
        <base-card-title class="reorder">
          <div>
            <label>Fichier de livraison </label>
          </div>
          <div class="mdl-textfield-search mdl-js-textfield mdl-textfield--expandable search-table">
            <div class="mdl-textfield label-search">
              <input class="mdl-textfield__input" type="text" id="search2" (input)="setFilteredItemsLivraison()"
                [(ngModel)]="filterValueLivraison" placeholder="Rechercher" autocomplete="off" />
              <label class="mdl-textfield__label" for="search2"></label>
            </div>
          </div>
        </base-card-title>
        <base-card-body class="content-file-line">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Afficher Log
                </mat-panel-title>
                <mat-panel-description class="description">
                  <button (click)='correctionFile("livraison");$event.stopPropagation();'
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Corriger
                  </button>
                  <button (click)='resetFiltre("livraison");$event.stopPropagation();' style="margin-left: 5px;"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Réinitialiser
                    les filtres
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-loader [width]="'94%'" [position]="'initial'" [height]="'0%'" [bg]="'transparant'"
                [show]="showLoaderLivraisonFile"></app-loader>
              <div class="content-table">
                <div class="pagination">
                  <mat-paginator [hidden]="!dataSource.data.length" [pageSizeOptions] = "[100,200,300]" showFirstLastButtons ></mat-paginator>
                </div>
                <table  mat-table [dataSource]="dataSource" *ngIf = "dataSource.data.length > 0"
                  class="table-livraison mdl-data-table mdl-js-data-table  sorting-table">

                  <!-- Date Column -->
                  <ng-container matColumnDef="Date">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Date

                    </th>
                    <td mat-cell #cell class="center-cell-transactionsFiles" *matCellDef="let element; let i = index"
                        (mouseup)="onMouseUp()"
                        (mousedown)="select($event,cell)"
                        [ngClass]="{'selected':isSelected(i,0)}"
                    >
                      {{element.Date}} </td>
                  </ng-container>

                  <!-- Expediteur Column -->
                  <ng-container matColumnDef="Expediteur">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Expediteur

                    </th>
                    <td mat-cell #cell class="center-cell-transactionsFiles" *matCellDef="let element; let i = index"
                        (mouseup)="onMouseUp()"
                        (mousedown)="select($event,cell)"
                        [ngClass]="{'selected':isSelected(i,1)}"
                    >
                      {{element.Expediteur}} </td>
                  </ng-container>

                  <!-- Activite Column -->
                  <ng-container matColumnDef="Activite">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Activite
                    </th>
                    <td mat-cell #cell class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUp()"
                        (mousedown)="select($event,cell)"
                        [ngClass]="{'selected':isSelected(i,2)}"
                    >
                      {{element.Activite}} </td>
                  </ng-container>

                  <!-- Categorie Column -->
                  <ng-container matColumnDef="Categorie">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Categorie
                    </th>
                    <td mat-cell #cell class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                            (mouseup)="onMouseUp()"
                            (mousedown)="select($event,cell)"
                            [ngClass]="{'selected':isSelected(i,3)}">
                      {{element.Categorie}} </td>
                  </ng-container>

                  <!-- Type_de_Service Column -->
                  <ng-container matColumnDef="Type_de_Service">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Type_de_Service
                    </th>
                    <td mat-cell #cell class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUp()"
                        (mousedown)="select($event,cell)" [ngClass]="{'selected':isSelected(i,4)}"
                    >
                      {{element.Type_de_Service}} </td>
                  </ng-container>

                  <!-- ID_de_la_tache Column -->
                  <ng-container matColumnDef="ID_de_la_tache">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> ID_de_la_tache

                    </th>
                    <td mat-cell #cell class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                          (mouseup)="onMouseUp()"
                          (mousedown)="select($event,cell)"
                          [ngClass]="{'selected':isSelected(i,5)}"
                    >
                      {{element.ID_de_la_tache}} </td>
                  </ng-container>

                  <!-- Item___Nom_sous_categorie Column -->
                  <ng-container matColumnDef="Item___Nom_sous_categorie">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Item___Nom_sous_categorie
                    </th>
                    <td mat-cell #cell class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                          (mouseup)="onMouseUp()"
                          (mousedown)="select($event,cell)"
                          [ngClass]="{'selected':isSelected(i,6)}"
                    >
                      {{element.Item___Nom_sous_categorie}} </td>
                  </ng-container>

                  <!-- Item___Type_unite_manutention Column -->
                  <ng-container matColumnDef="Item___Type_unite_manutention">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Item___Type_unite_manutention
                    </th>
                    <td mat-cell #cell class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                          (mouseup)="onMouseUp()"
                          (mousedown)="select($event,cell)"
                          [ngClass]="{'selected':isSelected(i,7)}"
                    >
                      {{element.Item___Type_unite_manutention}} </td>
                  </ng-container>

                  <!-- Item___Quantite Column -->
                  <ng-container matColumnDef="Item___Quantite">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Item___Quantite
                    </th>
                    <td mat-cell #cell class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                          (mouseup)="onMouseUp()"
                          (mousedown)="select($event,cell)"
                          [ngClass]="{'selected':isSelected(i,8)}"
                    >
                      {{element.Item___Quantite}} </td>
                  </ng-container>

                  <!-- Code_postal Column -->
                  <ng-container matColumnDef="Code_postal">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Code_postal

                    </th>
                    <td mat-cell #cell class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                          (mouseup)="onMouseUp()"
                          (mousedown)="select($event,cell)"
                          [ngClass]="{'selected':isSelected(i,9)}"
                    >
                      {{element.Code_postal}} </td>
                  </ng-container>

                  <!-- sourceHubName Column -->
                  <ng-container matColumnDef="sourceHubName">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> sourceHubName
                    </th>
                    <td mat-cell #cell class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUp()"
                        (mousedown)="select($event,cell)"
                        [ngClass]="{'selected':isSelected(i,10)}"
                    >
                      {{element.sourceHubName}} </td>
                  </ng-container>

                  <!-- Round_Name Column -->
                  <ng-container matColumnDef="Round_Name">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Round_Name
                    </th>
                    <td mat-cell #cell class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                          (mouseup)="onMouseUp()"
                          (mousedown)="select($event,cell)"
                          [ngClass]="{'selected':isSelected(i,11)}"
                    >
                      {{element.Round_Name}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsLivraison; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsLivraison;"></tr>
                </table>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </base-card-body>
      </base-card>


    </div>
    <div class="content-labels">

      <base-card class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
        <base-card-title class="reorder">
          <div>
            <label>Fichier d'exception </label>
          </div>
          <div class="mdl-textfield-search mdl-js-textfield mdl-textfield--expandable search-table">
            <div class="mdl-textfield label-search">
              <input class="mdl-textfield__input" type="text" id="search2" (input)="setFilteredItemsException()"
                [(ngModel)]="filterValueException" placeholder="Rechercher" autocomplete="off" />
              <label class="mdl-textfield__label" for="search2"></label>
            </div>
          </div>
        </base-card-title>
        <base-card-body class="content-file-line">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Afficher Log
                </mat-panel-title>
                <mat-panel-description class="description">
                  <button (click)='correctionFileException("exception");$event.stopPropagation();'
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Corriger
                  </button>
                  <button (click)='resetFiltre("exception");$event.stopPropagation();' style="margin-left: 5px;"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Réinitialiser
                    les filtres
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-loader [width]="'94%'" [position]="'initial'" [height]="'0%'" [bg]="'transparant'"
                [show]="showLoaderExceptionFile"></app-loader>
              <div class="content-table">
                <div class="pagination">
                  <mat-paginator [hidden]="!dataSourceException.data.length" [pageSizeOptions] = "[100,200,300]" showFirstLastButtons></mat-paginator>
                </div>
                <table mat-table [dataSource]="dataSourceException" *ngIf = "dataSourceException.data.length > 0"
                  class="table-livraison mdl-data-table mdl-js-data-table  sorting-table">

                  <!-- Date Column -->
                  <ng-container matColumnDef="Date">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Date

                    </th>
                    <td mat-cell #cellException class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpException()"
                        (mousedown)="selectException($event,cell)"
                        [ngClass]="{'selected':isSelectedException(i,0)}">
                      {{element.Date}} </td>
                  </ng-container>

                  <!-- Expediteur Column -->
                  <ng-container matColumnDef="Expediteur">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Expediteur
                    </th>
                    <td mat-cell #cellException class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpException()"
                        (mousedown)="selectException($event,cell)"
                        [ngClass]="{'selected':isSelectedException(i,1)}">
                      {{element.Expediteur}} </td>
                  </ng-container>

                  <!-- Activite Column -->
                  <ng-container matColumnDef="Activite">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Activite
                    </th>
                    <td mat-cell #cellException class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpException()"
                        (mousedown)="selectException($event,cell)"
                        [ngClass]="{'selected':isSelectedException(i,2)}">
                      {{element.Activite}} </td>
                  </ng-container>

                  <!-- Categorie Column -->
                  <ng-container matColumnDef="Categorie">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Categorie
                    </th>
                    <td mat-cell #cellException class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpException()"
                        (mousedown)="selectException($event,cell)"
                        [ngClass]="{'selected':isSelectedException(i,3)}">
                      {{element.Categorie}} </td>
                  </ng-container>

                  <!-- Type_de_Service Column -->
                  <ng-container matColumnDef="Type_de_Service">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Type_de_Service
                    </th>
                    <td mat-cell #cellException class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpException()"
                        (mousedown)="selectException($event,cell)"
                        [ngClass]="{'selected':isSelectedException(i,4)}">
                      {{element.Type_de_Service}} </td>
                  </ng-container>

                  <!-- ID_de_la_tache Column -->
                  <ng-container matColumnDef="ID_de_la_tache">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> ID_de_la_tache
                    </th>
                    <td mat-cell #cellException class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpException()"
                        (mousedown)="selectException($event,cell)"
                        [ngClass]="{'selected':isSelectedException(i,5)}">
                      {{element.ID_de_la_tache}} </td>
                  </ng-container>

                  <!-- Item___Nom Column -->
                  <ng-container matColumnDef="Item___Nom">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Item___Nom
                    </th>
                    <td mat-cell #cellException class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpException()"
                        (mousedown)="selectException($event,cell)"
                        [ngClass]="{'selected':isSelectedException(i,6)}">
                      {{element.Item___Nom}} </td>
                  </ng-container>

                  <!-- Item___Type Column -->
                  <ng-container matColumnDef="Item___Type">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Item___Type
                    </th>
                    <td mat-cell #cellException class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpException()"
                        (mousedown)="selectException($event,cell)"
                        [ngClass]="{'selected':isSelectedException(i,7)}">
                      {{element.Item___Type}} </td>
                  </ng-container>

                  <!-- Item___Quantite Column -->
                  <ng-container matColumnDef="Item___Quantite">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Item___Quantite
                    </th>
                    <td mat-cell #cellException class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpException()"
                        (mousedown)="selectException($event,cell)"
                        [ngClass]="{'selected':isSelectedException(i,8)}">
                      {{element.Item___Quantite}} </td>
                  </ng-container>

                  <!-- Code_postal Column -->
                  <ng-container matColumnDef="Code_postal">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Code_postal
                    </th>
                    <td mat-cell #cellException class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpException()"
                        (mousedown)="selectException($event,cell)"
                        [ngClass]="{'selected':isSelectedException(i,9)}">
                      {{element.Code_postal}} </td>
                  </ng-container>

                  <!-- Round_Name Column -->
                  <ng-container matColumnDef="Round_Name">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Round_Name
                    </th>
                    <td mat-cell #cellException class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpException()"
                        (mousedown)="selectException($event,cell)"
                        [ngClass]="{'selected':isSelectedException(i,10)}">
                      {{element.Round_Name}} </td>
                  </ng-container>

                  <!-- Remarque Column -->
                  <ng-container matColumnDef="Remarque">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Remarque
                    </th>
                    <td mat-cell #cellException class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpException()"
                        (mousedown)="selectException($event,cell)"
                        [ngClass]="{'selected':isSelectedException(i,11)}">
                      {{element.Remarque}} </td>
                  </ng-container>

                  <!-- isDeleted Column -->
                  <ng-container matColumnDef="isDeleted">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> isDeleted
                    </th>
                    <td mat-cell #cellException class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpException()"
                        (mousedown)="selectException($event,cell)"
                        [ngClass]="{'selected':isSelectedException(i,12)}">
                      {{element.isDeleted}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsException; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsException;"></tr>
                </table>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </base-card-body>
      </base-card>


    </div>
    <div class="content-labels">

      <base-card class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
        <base-card-title class="reorder">
          <div>
            <label>Fichier Metadata </label>
          </div>
          <div class="mdl-textfield-search mdl-js-textfield mdl-textfield--expandable search-table">
            <div class="mdl-textfield label-search">
              <input class="mdl-textfield__input" type="text" id="search2" (input)="setFilteredItemsMetadata()"
                [(ngModel)]="filterValuemetadata" placeholder="Rechercher" autocomplete="off" />
              <label class="mdl-textfield__label" for="search2"></label>
            </div>
          </div>
        </base-card-title>
        <base-card-body class="content-file-line">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Afficher Log
                </mat-panel-title>
                <mat-panel-description class="description">
                  <button (click)='correctionFileMetadata("metadata");$event.stopPropagation();'
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Valider
                  </button>
                  <button (click)='resetFiltre("metadata");$event.stopPropagation();' style="margin-left: 5px;"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Réinitialiser
                    les filtres
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-loader [width]="'94%'" [position]="'initial'" [height]="'0%'" [bg]="'transparant'"
                [show]="showLoaderMetadataFile"></app-loader>
              <div class="content-table">
                <div class="pagination">
                  <mat-paginator [hidden]="!dataSourceMetaData.data.length" [pageSizeOptions] = "[100,200,300]" showFirstLastButtons></mat-paginator>
                </div>
                <table mat-table [dataSource]="dataSourceMetaData" *ngIf = "dataSourceMetaData.data.length > 0"
                  class="table-livraison mdl-data-table mdl-js-data-table  sorting-table">

                  <!-- Date Column -->
                  <ng-container matColumnDef="Date">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Date
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,0)}">
                      {{element.Date}} </td>
                  </ng-container>

                  <!-- Expediteur Column -->
                  <ng-container matColumnDef="Expediteur">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Expediteur
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,1)}">
                      {{element.Expediteur}} </td>
                  </ng-container>

                  <!-- Activite Column -->
                  <ng-container matColumnDef="Activite">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Activite
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,2)}">
                      {{element.Activite}} </td>
                  </ng-container>

                  <!-- Categorie Column -->
                  <ng-container matColumnDef="Categorie">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Categorie
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,3)}">
                      {{element.Categorie}} </td>
                  </ng-container>

                  <!-- Type_de_Service Column -->
                  <ng-container matColumnDef="Type_de_Service">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Type_de_Service
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,4)}">
                      {{element.Type_de_Service}} </td>
                  </ng-container>

                  <!-- ID_de_la_tache Column -->
                  <ng-container matColumnDef="ID_de_la_tache">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> ID_de_la_tache

                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,5)}">
                      {{element.ID_de_la_tache}} </td>
                  </ng-container>

                  <!-- Item___Nom_sous_categorie Column -->
                  <ng-container matColumnDef="Item___Nom_sous_categorie">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Item___Nom_sous_categorie

                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,6)}">
                      {{element.Item___Nom_sous_categorie}} </td>
                  </ng-container>

                  <!-- Item___Type_unite_manutention Column -->
                  <ng-container matColumnDef="Item___Type_unite_manutention">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Item___Type_unite_manutention
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,7)}">
                      {{element.Item___Type_unite_manutention}} </td>
                  </ng-container>

                  <!-- Item___Quantite Column -->
                  <ng-container matColumnDef="Item___Quantite">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Item___Quantite
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,8)}">
                      {{element.Item___Quantite}} </td>
                  </ng-container>

                  <!-- Code_postal Column -->
                  <ng-container matColumnDef="Code_postal">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Code_postal
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,9)}">
                      {{element.Code_postal}} </td>
                  </ng-container>

                  <!-- sourceHubName Column -->
                  <ng-container matColumnDef="sourceHubName">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> sourceHubName
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,10)}">
                      {{element.sourceHubName}} </td>
                  </ng-container>

                  <!-- Round_Name Column -->
                  <ng-container matColumnDef="Round_Name">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Round_Name
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,11)}">
                      {{element.Round_Name}} </td>
                  </ng-container>

                  <!-- sourceClosureDate Column -->
                  <ng-container matColumnDef="sourceClosureDate">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> sourceClosureDate
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,12)}">
                      {{element.sourceClosureDate}} </td>
                  </ng-container>

                  <!-- realInfoHasPrepared Column -->
                  <ng-container matColumnDef="realInfoHasPrepared">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> realInfoHasPrepared
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,13)}">
                      {{element.realInfoHasPrepared}} </td>
                  </ng-container>

                  <!-- status Column -->
                  <ng-container matColumnDef="status">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> status
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,14)}">
                      {{element.status}} </td>
                  </ng-container>

                  <!-- metadataFACTURATION Column -->
                  <ng-container matColumnDef="metadataFACTURATION">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> metadataFACTURATION
                    </th>
                    <td mat-cell #cellMetadata class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMetadata()"
                        (mousedown)="selectMetadata($event,cell)"
                        [ngClass]="{'selected':isSelectedMetadata(i,15)}">
                      {{element.metadataFACTURATION}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsMetadata; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsMetadata;"></tr>
                </table>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </base-card-body>
      </base-card>


    </div>
    <div class="content-labels">

      <base-card class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
        <base-card-title class="reorder">
          <div>
            <label>Fichier MAD </label>
          </div>
          <div class="mdl-textfield-search mdl-js-textfield mdl-textfield--expandable search-table">
            <div class="mdl-textfield label-search">
              <input class="mdl-textfield__input" type="text" id="search2" (input)="setFilteredItemsMAD()"
                [(ngModel)]="filterValueMad" placeholder="Rechercher" autocomplete="off" />
              <label class="mdl-textfield__label" for="search2"></label>
            </div>
          </div>
        </base-card-title>
        <base-card-body class="content-file-line">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Afficher Log
                </mat-panel-title>
                <mat-panel-description class="description">
                  <button (click)='correctionFileMad("mad");$event.stopPropagation();'
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Corriger
                  </button>
                  <button (click)='resetFiltre("mad");$event.stopPropagation();' style="margin-left: 5px;"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Réinitialiser
                    les filtres
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-loader [width]="'94%'" [position]="'initial'" [height]="'0%'" [bg]="'transparant'"
                [show]="showLoaderMadFile"></app-loader>
              <div class="content-table">
                <div class="pagination">
                  <mat-paginator [hidden]="!dataSourceMAD.data.length" [pageSizeOptions] = "[100,200,300]" showFirstLastButtons></mat-paginator>
                </div>
                <table mat-table [dataSource]="dataSourceMAD" *ngIf = "dataSourceMAD.data.length > 0"
                  class="table-livraison mdl-data-table mdl-js-data-table  sorting-table">

                  <!-- Date Column -->
                  <ng-container matColumnDef="Date">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Date
                    </th>
                      <td mat-cell #cellMad class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMad()"
                        (mousedown)="selectMad($event,cell)"
                        [ngClass]="{'selected':isSelectedMad(i,0)}">
                      {{element.Date}} </td>
                  </ng-container>

                  <!-- Expediteur Column -->
                  <ng-container matColumnDef="Expediteur">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Expediteur
                    </th>
                      <td mat-cell #cellMad class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMad()"
                        (mousedown)="selectMad($event,cell)"
                        [ngClass]="{'selected':isSelectedMad(i,1)}">
                      {{element.Expediteur}} </td>
                  </ng-container>

                  <!-- Activite Column -->
                  <ng-container matColumnDef="Activite">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Activite
                    </th>
                      <td mat-cell #cellMad class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMad()"
                        (mousedown)="selectMad($event,cell)"
                        [ngClass]="{'selected':isSelectedMad(i,2)}">
                      {{element.Activite}} </td>
                  </ng-container>

                  <!-- Categorie Column -->
                  <ng-container matColumnDef="Categorie">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Categorie
                    </th>
                      <td mat-cell #cellMad class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMad()"
                        (mousedown)="selectMad($event,cell)"
                        [ngClass]="{'selected':isSelectedMad(i,3)}">
                      {{element.Categorie}} </td>
                  </ng-container>

                  <!-- Type_de_Service Column -->
                  <ng-container matColumnDef="Type_de_Service">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Type_de_Service
                    </th>
                      <td mat-cell #cellMad class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMad()"
                        (mousedown)="selectMad($event,cell)"
                        [ngClass]="{'selected':isSelectedMad(i,4)}">
                      {{element.Type_de_Service}} </td>
                  </ng-container>

                  <!-- ID_de_la_tache Column -->
                  <ng-container matColumnDef="ID_de_la_tache">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> ID_de_la_tache
                    </th>
                      <td mat-cell #cellMad class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMad()"
                        (mousedown)="selectMad($event,cell)"
                        [ngClass]="{'selected':isSelectedMad(i,5)}">
                      {{element.ID_de_la_tache}} </td>
                  </ng-container>

                  <!-- Item___Nom_sous_categorie Column -->
                  <ng-container matColumnDef="Item___Nom_sous_categorie">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Item___Nom_sous_categorie
                    </th>
                      <td mat-cell #cellMad class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMad()"
                        (mousedown)="selectMad($event,cell)"
                        [ngClass]="{'selected':isSelectedMad(i,6)}">
                      {{element.Item___Nom_sous_categorie}} </td>
                  </ng-container>

                  <!-- Item___Type_unite_manutention Column -->
                  <ng-container matColumnDef="Item___Type_unite_manutention">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Item___Type_unite_manutention
                    </th>
                      <td mat-cell #cellMad class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMad()"
                        (mousedown)="selectMad($event,cell)"
                        [ngClass]="{'selected':isSelectedMad(i,7)}">
                      {{element.Item___Type_unite_manutention}} </td>
                  </ng-container>

                  <!-- Item___Quantite Column -->
                  <ng-container matColumnDef="Item___Quantite">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Item___Quantite
                    </th>
                      <td mat-cell #cellMad class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMad()"
                        (mousedown)="selectMad($event,cell)"
                        [ngClass]="{'selected':isSelectedMad(i,8)}">
                      {{element.Item___Quantite}} </td>
                  </ng-container>

                  <!-- Code_postal Column -->
                  <ng-container matColumnDef="Code_postal">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Code_postal
                    </th>
                      <td mat-cell #cellMad class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMad()"
                        (mousedown)="selectMad($event,cell)"
                        [ngClass]="{'selected':isSelectedMad(i,9)}">
                      {{element.Code_postal}} </td>
                  </ng-container>

                  <!-- sourceHubName Column -->
                  <ng-container matColumnDef="sourceHubName">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> sourceHubName
                    </th>
                      <td mat-cell #cellMad class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMad()"
                        (mousedown)="selectMad($event,cell)"
                        [ngClass]="{'selected':isSelectedMad(i,10)}">
                      {{element.sourceHubName}} </td>
                  </ng-container>

                  <!-- Round_Name Column -->
                  <ng-container matColumnDef="Round_Name">
                    <th class="titre-column" mat-header-cell *matHeaderCellDef> Round_Name
                    </th>
                      <td mat-cell #cellMad class="center-cell-transactionsFiles" *matCellDef="let element ; let i = index"
                        (mouseup)="onMouseUpMad()"
                        (mousedown)="selectMad($event,cell)"
                        [ngClass]="{'selected':isSelectedMad(i,11)}">
                      {{element.Round_Name}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsMad; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsMad;"></tr>
                </table>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </base-card-body>
      </base-card>


    </div>
  </div>
</div>
