<!-- <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--3-col-phone content"> -->
<div class='dialog-content'>
  <app-loader [position]="'absolute'" [width]="'400px'" [height]="'350px'" [bg]="'transparant'" [show]="showloader">
  </app-loader>
  <base-card class="card-dialog">
    <base-card-title>
      <h1 class="mdl-card__title-text">Ajouter utilisateur</h1>
    </base-card-title>
    <base-card-body class="no-padding">
      <form [formGroup]="signupForm" (submit)="login()" autocomplete="off" novalidate>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-phone">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size"
            [class.is-invalid]="username.invalid && (username.dirty || username.touched)"
            [class.is-valid]="username.valid && (username.dirty || username.touched)">
            <input formControlName="username" (change)="onInputChange($event)" class="mdl-textfield__input" type="text"
              id="username">
            <label class="mdl-textfield__label" for="username">Name</label>

            <div *ngIf="username.invalid && (username.dirty || username.touched)">
              <span *ngIf="username.errors.required" class="mdl-textfield__error">
                Nom obligatoire.
              </span>
            </div>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size"
            [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
            [class.is-valid]="email.valid && (email.dirty || email.touched)">
            <input formControlName="email" pattern="{{emailPattern}}" (change)="onInputChange($event)"
              class="mdl-textfield__input" type="text" id="email">
            <label class="mdl-textfield__label" for="email">Email</label>

            <div *ngIf="email.invalid && (email.dirty || email.touched)">
              <span *ngIf="email.errors.required" class="mdl-textfield__error">
                Email obligatoire.
              </span>
              <span *ngIf="email.errors.pattern" class="mdl-textfield__error">
                Email non valide.
              </span>
            </div>
          </div>
          
          <div style="margin-top:6px;" >
            <mat-form-field appearance="fill">
              <mat-label>Rôle</mat-label>
              <mat-select formControlName="role">
                <mat-option *ngFor="let dl of listItems" [value]="dl">
                  {{dl}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="full-size color-text--red" *ngIf="error"> {{ error }}</div>

          <!-- <div>
            <mat-form-field appearance="fill">
              <mat-label>Rapport</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let rapport of rapports" [value]="rapport.id">{{rapport.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <div *ngIf="role.value == 'Admin'" style="display: grid"
            class="">
            <label style="color:gray;">Rapport</label>
            <mat-form-field class="select-filter" appearance="fill">
              <input type="text" placeholder="{{
                  (selectedRapports?.length >0 ) ? selectedRapports?.length + ' rapports séléctionnés' : 'Sélectionner...'
                }}" aria-label="rapports" matInput [matAutocomplete]="auto" [formControl]="rapportControl">
            </mat-form-field>
            <mat-autocomplete [panelWidth]="'auto'" #auto="matAutocomplete">
              <mat-option class="option-rapports" *ngFor="let rapport of rapports" [value]="selectedRapports">
                <mat-checkbox [checked]="rapport.selected" (change)="toggleSelection(rapport)"
                  (click)="$event.stopPropagation()">
                  {{ rapport.name }}
                </mat-checkbox>
              </mat-option>
            </mat-autocomplete>
            <mat-checkbox [checked]="canUpdateCapacity" (change)="checkCapacity()" (click)="$event.stopPropagation()">
              Actualisation de le capacité PowerBI
            </mat-checkbox>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell mdl-grid center-items">
          <button class="mdl-button mdl-js-button mdl-button--raised color--light-blue" type="submit"
            [disabled]="signupForm.invalid">Ajouter</button>
        </div>
      </form>
    </base-card-body>
  </base-card>
</div>