<!-- <div #embeddedReport class="report-placeholder"></div> -->
<!-- 
<powerbi-report [embedConfig]="reportConfig" [cssClassName]="reportClass" [phasedEmbedding]="phasedEmbeddingFlag" [eventHandlers]="eventHandlersMap">
</powerbi-report> -->

<!-- <div style=" width: 100%;" [ngStyle]="{ 'height': (screenHeight-150)+ 'px' }" #embeddedReport></div>   -->

<!-- <div class="ngx-container">
    <ngx-powerbi-component type= {{embedConfig.type}}
                        id={{embedConfig.reportId}}
                        embedUrl={{embedConfig.embedUrl}}
                        tokenType="Embed"
                        accessToken={{embedConfig.accessToken}}
                        >
    </ngx-powerbi-component>
</div> -->

<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">

  <app-loader class="loader" [width]="'100%'" [position]="'sticky'" [height]="'450px'" [bg]="'transparant'"
    [show]="showLoader || btnClicked"></app-loader>
  <base-card>
    <base-card-title>
      <h1 class="mdl-card__title-text">Liste des rapports</h1>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield-search mdl-js-textfield mdl-textfield--expandable search-table">
        <div class="mdl-textfield label-search ">
          <input class="mdl-textfield__input" type="text" id="search2" (input)="setFilteredItems()"
            [(ngModel)]="filterValue" placeholder="Rechercher" />
          <label class="mdl-textfield__label" for="search2"></label>
        </div>
      </div>
      <base-pagination [numPage]="numPage" [currentPage]="currentPage" (changePage)="changePage($event)">
      </base-pagination>
      <!-- <p>{{ capacityState }}</p> -->
      <button *ngIf="capacityState" (click)="refreshBD();$event.stopPropagation()" [disabled]="!canRefreshBD"
        matTooltip="Actualisation de la base de données"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button ">
        <i class="material-icons ">refresh</i>
        Actualiser
      </button>
      <button *ngIf="(user.role == 'SuperAdmin') && (capacityState == 'Paused' || capacityState == 'Resuming' )"
        (click)="openConfirmDialog('activer')" matTooltip="Statut actuel : suspendu"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button "
        [disabled]="btnClicked">
        Activer capacité
        <!-- <app-loader *ngIf="btnClicked" class="loader" [width]="'100%'" [position]="'sticky'" [height]="'100px'"
          [bg]="'transparant'" [show]="btnClicked"></app-loader> -->

      </button>
      <button *ngIf="(user.role == 'SuperAdmin' || user.canUpdateCapacity) && (capacityState == 'Succeeded' || capacityState == 'Pausing' )"
        matTooltip="Statut actuel : actif" (click)="openConfirmDialog('suspendre')"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button "
        [disabled]="btnClicked">Suspendre capacité
        <!-- <app-loader *ngIf="btnClicked" class="loader" [width]="'100%'" [position]="'sticky'" [height]="'100px'"
          [bg]="'transparant'" [show]="btnClicked"></app-loader> -->

      </button>

    </base-card-title>
    <base-card-body class="no-padding">
      <table *ngIf="!showLoader" class="mdl-data-table mdl-js-data-table  sorting-table">
        <thead>
          <tr>
            <th *ngFor="let header of advancedHeaders " class="user-info mdl-data-table__cell--non-numeric">
              <span>{{ header.name }}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of advancedTable  | slice:0:limit; let i = index;">
            <td class="user-info mdl-data-table__cell--non-numeric">{{ row.name }}</td>
            <td class="user-info mdl-data-table__cell--non-numeric">{{ row.reportType }}</td>
            <td class="user-info mdl-data-table__cell--non-numeric">{{ row.refreshDate | date: "dd/MM/yyyy 'à' HH:mm" }}</td>

            <td class="user-info mdl-data-table__cell--non-numeric">
              <app-loader *ngIf="row.refreshState == 'Unknown'" class="loader row-loader" [width]="'100%'" [position]="'sticky'"
              [height]="'150px'" [bg]="'transparant'" [show]="row.refreshState == 'Unknown'"></app-loader>
              <!-- Dernière actualisation&#13;{{row.refreshDate | date: 'dd/MM/yyyy à HH:mm' }} -->
              <button (click)="refreshReport(row)" [disabled]="row.refreshState == 'Unknown'"
                matTooltip="Actualiser le rapport"
                
                matTooltipPosition="before" class="mdl-button mdl-js-button  button--colored-teal ">
                <i class="material-icons ">refresh</i>

              </button>
              <button (click)="showDetailReport(row)" [disabled]="btnClicked"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Afficher
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </base-card-body>
  </base-card>
</div>