<!-- <div #embeddedReport class="report-placeholder"></div> -->
<!-- 
<powerbi-report [embedConfig]="reportConfig" [cssClassName]="reportClass" [phasedEmbedding]="phasedEmbeddingFlag" [eventHandlers]="eventHandlersMap">
</powerbi-report> -->

<!-- <div style=" width: 100%;" [ngStyle]="{ 'height': (screenHeight-150)+ 'px' }" #embeddedReport></div>   -->

<div class="ngx-container">
    <ngx-powerbi-component type= {{embedConfig.type}}
                        id={{embedConfig.reportId}}
                        embedUrl={{embedConfig.embedUrl}}
                        tokenType="Embed"
                        accessToken={{embedConfig.accessToken}}
                        >
    </ngx-powerbi-component>
</div>