
<div class="mdl-card mdl-card__blank-layout-card mdl-shadow--2dp" *ngIf="error !== 'success'">
            <div class="mdl-card__supporting-text color--dark-gray">
                <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <span class="blank-layout-card-name text-color--white">Mot de passe oublié ?</span>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <span class="blank-layout-card-secondary-text text-color--smoke">Pour réinitialiser votre mot de passe,
                        saisissez l'adresse e-mail que vous utilisez pour vous connecter
                        à votre compte.</span>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                    <form [formGroup]="loginForm" (submit)="login()" autocomplete="off" novalidate>
                      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size"
                             [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
                             [class.is-valid]="email.valid && (email.dirty || email.touched)">
                            <input formControlName="email" pattern="{{emailPattern}}"
                                    (change)="onInputChange($event)" class="mdl-textfield__input" type="text"
                                    id="email">
                            <label class="mdl-textfield__label" for="email">Email</label>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                                    <span *ngIf="email.errors.required" class="mdl-textfield__error">
                                        Email obligatoire.
                                    </span>
                                    <span *ngIf="email.errors.pattern" class="mdl-textfield__error">
                                        Email invalide.
                                    </span>
                            </div>
                        </div>
                        <div class="full-size color-text--red" *ngIf="error"> {{ error }}</div>
                      </div>
                      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell">
                        <div class="mdl-layout-spacer"></div>
                            <button class="mdl-button mdl-js-button mdl-button--raised color--light-blue" type="submit"
                            [disabled]="loginForm.invalid">
                              Réinitialiser votre mot de passe
                            </button>
                      </div>
                    </form>
                    </div>
                </div>
            </div>
</div>
<!-- <div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content"> -->
        <div class="mdl-card mdl-card__blank-layout-card mdl-shadow--2dp" *ngIf="error == 'success'">
            <div class="mdl-card__supporting-text color--dark-gray">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <span class="mdl-card__title-text text-color--smooth-gray">AVERTISSEMENT</span>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                        <span class="blank-layout-card-name text-color--white">E-mail de réinitialisation de mot de passe a été envoyé</span>
                    </div>
                </div>
            </div>
        <!-- </div>
    </main> -->
</div>
