<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
  <app-loader [width]="'100%'" [position]="'sticky'"  [height]="'450px'" [bg]="'transparant'" [show]="show"></app-loader>
  <base-card>
      <base-card-title>
        <h1 class="mdl-card__title-text">Liste des utilisateurs</h1>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield-search mdl-js-textfield mdl-textfield--expandable search-table">
          <div class="mdl-textfield label-search " >
            <input class="mdl-textfield__input" type="text" id="search2" (input)="setFilteredItems()"
              [(ngModel)]="filterValue" placeholder="Rechercher" />
            <label class="mdl-textfield__label" for="search2" ></label>
          </div>
        </div>
        <base-pagination [numPage]="numPage" [currentPage]="currentPage" (changePage)="changePage($event)">
        </base-pagination>
        <button (click)="openAddUser()"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button "
                >Ajouter utilisateur
              </button>
      </base-card-title>
      <base-card-body class="no-padding">
        <table *ngIf="advancedTable.length > 0" class="mdl-data-table mdl-js-data-table  sorting-table">
          <thead>
            <tr>
              <th *ngFor="let header of advancedHeaders " class="user-info mdl-data-table__cell--non-numeric">
                <span>{{ header.name }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of advancedTable  | slice:0:limit; let i = index;">
              <td class="user-info mdl-data-table__cell--non-numeric">{{ row.username }}</td>
              <td class="user-info mdl-data-table__cell--non-numeric">{{ row.email }}</td>
              <td class="user-info mdl-data-table__cell--non-numeric">{{ row.role }}</td>
              <td class="user-info mdl-data-table__cell--non-numeric">{{ row.status }}</td>
              <td class="user-info mdl-data-table__cell--non-numeric">
                <button (click)="openUpdateUser(row)"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Modifier
                </button>
                &nbsp;
                <button (click)="openDeleteUser(row)"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-red delete-button">Supprimer
                </button>
              </td>
            </tr>
          </tbody>
      </table>
      </base-card-body>
    </base-card>
</div>
