<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">

  <div class="all-selection mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
    <div style="display: grid" class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--6-col-phone">
      <label class="select-label">Date</label>
      <mat-form-field class="field-date-kpi" appearance="fill">
        <mat-label class="title-form-date">Entrez une plage de dates</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" (dateInput)="getDate()" (dateChange)="getDate()"
            placeholder="Date de début">
          <input matEndDate formControlName="end" (dateInput)="getDate()" (dateChange)="getDate()"
            placeholder="Date de fin">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <!--
      <p>Selected range: {{range.value | json}}</p> -->
    </div>
    <div style="display: grid" class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--6-col-phone">
      <label class="select-label">Client</label>
      <mat-form-field class="select-filter" appearance="fill">
        <input type="text"
          placeholder="{{selectedClients?.length >0 ? selectedClients?.length + ' clients séléctionnés' :'Tout'}}"
          aria-label="clients" matInput [matAutocomplete]="auto" [formControl]="clientControl">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option class="option-anomalies" *ngFor="let client of filteredClients | async" [value]="selectedClients">
          <mat-checkbox [checked]="client.selected" (change)="toggleSelection(client)"
            (click)="$event.stopPropagation()">
            {{ client.clientName }}
          </mat-checkbox>
        </mat-option>
      </mat-autocomplete>
    </div>
    <div style="display: grid" class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--6-col-phone">
      <label class="select-label">Fichier</label>
      <mat-form-field class="select-filter" appearance="fill">
        <input type="text"
          placeholder="{{selectedFiles?.length >0 ? selectedFiles?.length + ' fichiers séléctionnés' :'Tout'}}"
          aria-label="files" matInput [matAutocomplete]="file" [formControl]="fileControl">
      </mat-form-field>
      <mat-autocomplete #file="matAutocomplete">
        <mat-option class="option-anomalies" *ngFor="let file of filteredFiles | async" [value]="selectedFiles">
          <mat-checkbox [checked]="file.selected" (change)="toggleSelection(file)" (click)="$event.stopPropagation()">
            {{ file.fileName }}
          </mat-checkbox>
        </mat-option>
      </mat-autocomplete>
    </div>
    <div style="display: grid" class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--6-col-phone">
      <label class="select-label">Types d'anomalies</label>
      <mat-form-field class="select-filter"  appearance="fill" style="width:240px">
        <input type="text"
          placeholder="{{selectedtypesAnomalies?.length >0 ? selectedtypesAnomalies?.length + ' types d\'anomalies sélectionnés' :'Tout'}}"
          aria-label="typesAnomalies" matInput [matAutocomplete]="typeanomalie" [formControl]="typesAnomaliesControl">
      </mat-form-field>
      <mat-autocomplete #typeanomalie="matAutocomplete">
        <mat-option class="option-anomalies" *ngFor="let typeAnomalie of filteredtypesAnomalies | async" [value]="selectedtypesAnomalies">
          <mat-checkbox [checked]="typeAnomalie.selected" (change)="toggleSelection(typeAnomalie)"
            (click)="$event.stopPropagation()">
            {{ typeAnomalie.anomalieName }}
          </mat-checkbox>
        </mat-option>
      </mat-autocomplete>
    </div>

    <div  class="content-nb-file-client mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone">
      <app-kpinombre-de-fichiers-imorte-par-client [rangeDate]="rangeDate" [nameSelected]="selectedClientsNames" [fileSelected]="selectedFilesNames">
      </app-kpinombre-de-fichiers-imorte-par-client>
  
  </div>

  </div>

  <div>
    <app-kpi-anomalies [rangeDate]="rangeDate" [nameSelected]="selectedClientsNames" [fileSelected]="selectedFilesNames"
      [typeAnomaliesSelected]="selectedtypesAnomaliesNames"></app-kpi-anomalies>
  </div>
  <div class="content-chart">
  <div  class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
    <app-kpi-intervention-admin [rangeDate]="rangeDate" [nameSelected]="selectedClientsNames" [fileSelected]="selectedFilesNames">
    </app-kpi-intervention-admin>
  </div>

 
    <div  class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
      <app-kpievolution-nombre-de-fichiers-imorte-par-client [rangeDate]="rangeDate"
        [nameSelected]="selectedClientsNames" [fileSelected]="selectedFilesNames"></app-kpievolution-nombre-de-fichiers-imorte-par-client>
    </div>
  </div>
  
</div>