<div class="dialog-content">
    <app-loader [position]="'absolute'" [width]="'296px'" [height]="'296px'" [bg]="'transparant'" [show]="showloader">
    </app-loader>
  <base-card class="card-dialog">
    <base-card-title>
      <h1 class="mdl-card__title-text">Générer une transaction</h1>
    </base-card-title>
    <base-card-body class="card-content">
      <mat-form-field class="field-date" appearance="fill">
        <mat-label class="title-form">Entrez une plage de dates</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [max]="maxDate">
          <input matStartDate formControlName="start_date" placeholder="Date de début">
          <input matEndDate formControlName="end_date"  placeholder="Date de fin">
        </mat-date-range-input>
        <mat-datepicker-toggle class="icon-date" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-error *ngIf="errorFound" style="margin-bottom: 5px;">Une erreur s'est produite, Veuillez réessayer</mat-error>
      <div style="text-align: center;">
        <button [disabled]="clicked || range.value.end_date == null || range.value.start_date == null" (click)="genererTransaction()" class="mdl-button mdl-js-button mdl-button--raised color--light-blue" type="submit">Générer</button>
      </div>
    </base-card-body>
  </base-card>

</div>
