mat-selection-list {
    max-height: 300px;
    overflow: auto;
  }
  
  .mat-list-option{
      color: #fff!important;
  }
  .mat-pseudo-checkbox-checked{
    background: #00bcd4 !important;
  }

  .select-client-container{
      padding: 0!important;
  }


  .mdl-grid.center-items {
    justify-content: center;
  }
  .content {
  
    margin-top: 100px;
    margin-left: 25%;
  }
  
  .card-dialog
  {
    box-shadow:none;
  }
  

  