
  <!-- <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--3-col-phone content"> -->
    <div class="dialog-content">
    <app-loader [position]="'absolute'" [width]="'588px'" [height]="'370px'" [bg]="'transparant'" [show]="showloader"></app-loader>
    <base-card class="card-dialog">
      <base-card-title>
        <h1 class="mdl-card__title-text">Ajouter Client</h1>
      </base-card-title>
      <base-card-body class="no-padding">
        <form [formGroup]="loginForm" (submit)="login()" autocomplete="off" novalidate >
          <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size"
            [class.is-invalid]="code.invalid && (code.dirty || code.touched)"
                 [class.is-valid]="code.valid && (code.dirty || code.touched)">
              <input  formControlName="code" pattern="{{codePattern}}" (change)="onInputChange($event)"  class="mdl-textfield__input" type="text" id="code">
              <label class="mdl-textfield__label" >Code client *</label>
<!--              <div *ngIf="code.invalid">-->
<!--                <span *ngIf="code.errors.required" class="mdl-textfield__error">-->
<!--                  Code obligatoire-->
<!--                </span>-->
<!--              </div>-->
              <div *ngIf="code.invalid && (code.dirty || code.touched)">
                <span *ngIf="code.errors.required" class="mdl-textfield__error">
                  Code obligatoire. <span class="color-text--orange"> S'il vous plaît, entrez un code valide.</span>
                </span>
                <span *ngIf="code.errors.pattern" class="mdl-textfield__error">
                  Format Cxxx, x est un entier.
                </span>
              </div>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size" id="forPass"
            [class.is-invalid]="nom.invalid && (nom.dirty || nom.touched)"
                 [class.is-valid]="nom.valid && (nom.dirty || nom.touched)">
              <input formControlName="nom" pattern="{{nomPattern}}" (change)="onInputChange($event)" class="mdl-textfield__input" type="text" id="nom">
              <label class="mdl-textfield__label" >Nom client *</label>
              <div *ngIf="nom.invalid && (nom.dirty || nom.touched)">
                <span *ngIf="nom.errors.required" class="mdl-textfield__error">
                  Nom obligatoire. <span class="color-text--orange"> S'il vous plaît, entrez un nom valide.</span>
                </span>
                <span *ngIf="nom.errors.pattern" class="mdl-textfield__error">
                  Nom doit être en majuscule.
                </span>
              </div>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
              <input  formControlName="email" pattern="{{emailPattern}}" (change)="onInputChange($event)" class="mdl-textfield__input" type="text" id="email">
              <label class="mdl-textfield__label" >Email </label>
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <span *ngIf="email.errors.pattern" class="mdl-textfield__error">
                  Email invalide.
                </span>
              </div>
            </div>
            <div class="full-size color-text--red" *ngIf="error"> {{ error }}</div>
          </div>
          <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell mdl-grid center-items">
            <button class="mdl-button mdl-js-button mdl-button--raised color--light-blue" type="submit" [disabled]="loginForm.invalid">Ajouter</button>
          </div>
        </form>
      </base-card-body>
    </base-card>
    </div>
<!-- </div> -->



