<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
    <base-card>
        <base-card-title>
            <h1 class="mdl-card__title-text">Detais commande</h1>
            <div class="mdl-layout-spacer"></div>
        </base-card-title>
        <base-card-body class="mdl-card__supporting-text">
            <b class="order-estimed-title">Livraison estimée </b>
            <b class="order-estimed-title"> <span>{{order.timeWindow.stop.slice(0,10)}}</span></b>
            <b class="order-estimed-title"> <span> à {{order.timeWindow.stop.slice(11,19)}}</span></b>
            <hr>
            <div class="details-header">
                <div class="details-bloc mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                    <b><span>Client</span></b>
                    <span>{{order.contact.person}}</span>
                    <span>{{order.contact.phone}}</span>
                    <span>{{order.contact.email}}</span>

                </div>
                <div class="details-bloc mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                    <span>Date de commande</span>
                    <b><span>{{order.date.slice(0,10) }}</span></b>
                    <span>Numéro de commande</span>
                    <b><span>{{order.taskReference}}</span></b>
                </div>
            </div>
            <br>
            <div>
                <div
                    class="address-payment-bloc mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                    <div class="details-bloc payement mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                        <b><span>Articles</span></b>
                        <div *ngFor="let product of order.products">
                            <span>{{product.description }} x {{product.quantity}}</span>
                        </div>
                        <br>
                        <b><span>Détails de paiement</span></b>
                        <span>Total (TVA incluse)</span>
                        <span class="price-label">{{order.price }} € </span>
                    </div>

                    <div
                        class="details-bloc-address mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                        <b><span>Adresse de livraison</span></b>
                        <div class="detail-address">
                            <span>{{order.address.building }} </span>
                            <span>{{order.address.number }} </span>
                            <span>{{order.address.street }} </span>
                            <span>{{order.address.city+","  }} </span>
                            <span>{{order.address.zip }} </span>
                            <span>{{order.address.country }}</span>
                        </div>
                        <div class="details-bloc">
                            <base-card class="map">
                                <div class="curtain"></div>
                                <div class="mdl-card--expand map__window">

                                </div>
                            </base-card>
                        </div>
                    </div>
                </div>
            </div>
        </base-card-body>
    </base-card>
</div>