<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone">
  <app-loader [width]="'100%'" [position]="'sticky'" [height]="'450px'" [bg]="'transparant'"
    [show]="advancedTable.length == 0"></app-loader>
  <base-card>
    <base-card-title>
    <span (click)="backToPreviousPage();$event.stopPropagation();"
              class="pointer material-icons">
              arrow_back
              </span>
                    <div class="mdl-layout-spacer"></div>

      <h1 class="mdl-card__title-text" style='text-align: center;'>Liste des factures pour le client : {{nom_client}} </h1>
      <div class="mdl-layout-spacer"></div>
      <span (click)="$event.stopPropagation();"
      class="download material-icons"
      style="visibility: hidden;">
      arrow_forward
      </span>

      <!-- <base-pagination [numPage]="numPage" [currentPage]="currentPage" (changePage)="changePage($event)">
      </base-pagination> -->
      <!-- <button style="margin-left: 3px;" (click)="navigatetoAddFacturation()"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Ajouter
        Facturation
      </button> -->

    </base-card-title>


    <base-card-body class="no-padding">
      <table *ngIf="advancedTable.length > 0" aria-describedby="clients-table"
        class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--6-col-phone mdl-data-table mdl-js-data-table   sorting-table">
        <thead>
          <tr>
            <th *ngFor="let header of advancedHeaders" class="mdl-data-table__cell--non-numeric">

              <span>{{ header.name }}</span>
            </th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let row of advancedTable  | slice:0:limit; let i = index;">


            <td class="mdl-data-table__cell--non-numeric">{{ row.date }}</td>

            <td class="mdl-data-table__cell--non-numeric">{{row.total | number : '1.1-3' }} €</td>

            <td  class="column-actions mdl-data-table__cell--non-numeric">
              <button *ngIf="row.allowEdit" style="margin-left: 3px;" (click)="navigatetoAddFacturation(row.month)"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Editer
              </button>
              <button style="margin-left: 3px;" (click)="opendetailsDialog(row.month)"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Aperçu
              </button>
              <button style="margin-left: 3px;" (click)="opendetails(row.month)"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Afficher
            </button>
              <!-- <button style="margin-left: 3px;" (click)="downloadFile(row.month)"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal dialog-button">Télécharger
              </button> -->
              <span (click)="downloadFile(row);$event.stopPropagation();"
              class="download material-icons">
              download
              </span>
            </td>

          </tr>
        </tbody>
      </table>
    </base-card-body>
  </base-card>
</div>