
  <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--3-col-phone content">
  <base-card>
      <base-card-title>
        <h1 class="mdl-card__title-text">Ajouter Client</h1>
      </base-card-title>

      <base-card-body class="no-padding">
        <form [formGroup]="loginForm" (submit)="login()" autocomplete="off" novalidate >
          <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size" >
              <input  formControlName="code" (change)="onInputChange($event)" class="mdl-textfield__input" type="text" id="code">
              <label class="mdl-textfield__label" >Code client</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size" id="forPass">
              <input formControlName="nom" (change)="onInputChange($event)" class="mdl-textfield__input" type="text" id="nom">
              <label class="mdl-textfield__label" >Nom client</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
              <input  formControlName="email" (change)="onInputChange($event)" class="mdl-textfield__input" type="text" id="email">
              <label class="mdl-textfield__label" >Email</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell mdl-grid center-items">
            <button class="mdl-button mdl-js-button mdl-button--raised color--light-blue" type="submit">Ajouter</button>
          </div>
        </form>
      </base-card-body>
    </base-card>
</div>



